.user-info-container {
    display: flex;
    justify-content: center;
    padding-top: 90px;
}

.user-image-container {
    border-radius: 50%;
    padding-right: 30px;
}

.user-image {
    border-radius: 50%;
    height: 200px;
    width: 200px;
}
