.single-listing-container {
    padding-top: 50px;
    padding-right: 95px;
    padding-left: 95px;
    margin-bottom: 300px;
}

.listing-detail-img-container {
    height: 600px;
}

.detail-main-img-container {
    height: 100%;
}

.detail-main-img {
    height: 100%;
}

.detail-side-img-container {
    height: 100%;
}

.detail-side-img {
    height: 49.7%;
}

.detail-created-on {
    padding-top: 30px;
}

.profile-pic-in-details {
    height: 60px;
    /* border-radius: 50%; */
    padding: 0!important;

}

.hosted-by-container {
    /* width: 100%; */
    height: 80px;
    display: flex;
    align-items: center;
    border-top: 1px solid lightgray;
}

#hosted-by-img-container {
    height: 60px;
    width: 60px;
    border-radius: 50%!important;
    overflow: hidden;
    display: flex;
    justify-content: center;
    margin-left: 20px;
}

.hosted-by-container img,span{
    /* padding-bottom: 10px; */
    /* padding-left: 20px; */
    /* das */
}
.hosted-by-container span {
    padding-left: 20px;
}



#in-details-container {
    display: flex;
    flex-direction: column;
}

.listing-data-container {
    font-family: arial, sans-serif;
}

.hosted-by-data-container {
    display: flex;
    justify-content: space-between;
}

.in-details-description {
    margin-top: 0px!important;
    padding-top: 0px!important;
}
