.signup-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    width: 370px;
}
.signup-form-container {
    width: 100%;
    height: 84%;
    display: flex;
    justify-content: center;
    border-top: 1px solid lightgray;

}

.signup-input-container {
    display: flex;
    flex-direction: column;
    /* border: 1px solid rgb(196, 196, 196); */
    border-radius: 5px;
    width: 100%;
    height: 200px;
    margin-top: -20px;
}

.signup-input-container input {
    width: 100%;
    height: 50px;
    padding-left: 10px;
    margin-bottom: 5px;
    border-radius: 6px;
    border: 1px solid rgb(196, 196, 196)
}

.signup-form button {
    width: 100%;
    height: 50px;
    border-radius: 5px;
    /* border: 1px solid rgb(196, 196, 196); */
    border: none;
    margin-top: 10px;
    background-image: linear-gradient(to right, rgb(230, 30, 77) 0%, rgb(227, 28, 95) 50%, rgb(215, 4, 102) 100%) !important;
    color: white;
    font-size: 16px;
    cursor: pointer;


}

.signup-form button:hover {
    background-image: radial-gradient(circle at center center, rgb(255, 56, 92) 0%, rgb(230, 30, 77) 27.5%, rgb(227, 28, 95) 40%, rgb(215, 4, 102) 57.5%, rgb(189, 30, 89) 75%, rgb(189, 30, 89) 100%) !important;
}

.modal-signup-header {
    width: 100%;
    /* height: 100%; */
    display: flex;
    /* align-items: center; */


}

h3 {
    margin: 0;
    padding: 0;
    padding-bottom: 5px;
    padding-right: 45px;
    font-family: arial, sans-serif;
}

.title-container {
    display: flex;
    width: 100%;
    justify-content: center;
}

span button {
    border: none;
    background-color: inherit;
    cursor: pointer;
    padding-left: 20px;
    font-size: 17px;
    /* padding-bottom: 25px; */

}

.welcome-span {
    font-size: 22px;
    font-family: arial, sans-serif;
}

ul {
    list-style: none;
    padding-bottom: 10px;
    color: red;
}
