.users-bookings-list {
    margin-bottom: 300px;

    display: flex;
    flex-direction: column;
}

.single-booking-container {
    display: flex;
    flex-direction: row;
    margin-right: 90px;
    margin-left: 35px;
    border: 1px solid lightgray;
    padding: 15px;
    border-radius: 20px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.booking-list-item {
    padding-top: 15px;
    padding-bottom: 15px;
    color: rgb(107, 107, 107);
    font-family: arial, sans-serif;
    ;
}

.bookings-image-container {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 18px;
    height: 250px;
}

.bookings-image-container img {
    border-radius: 18px;
}

.bookings-title {
    font-size: 25px;
    font-weight: bolder;
}
.bookings-data-container {
    padding-left: 20px;
    display: flex;

    flex-wrap: wrap;
    /* align-items: center; */

}
.bookings-data-container li {
padding: 14px 25px;
}
.bookings-title {
    display: block;
}

.new-data-container {
    display: flex;

}

.align-container {
    display: flex;
    flex-direction: row!important;
}

.cancel-booking-button {
    margin-left: 165px;
    margin-top: 165px;
}
