/* TODO Add site wide styles */


*,
*::before,
*::after {
  box-sizing: border-box;
  /* overflow-x: hidden; */
  /* overflow-x: hidden; */
}

body {
    min-height: 100vh!important;
    padding: 0px!important;
    margin: 0px!important;


    /* position: relative; */

}

img {
    max-width: 100%;
}

#root {
    /* display: flex;
    flex-direction: column; */
    /* min-height: 100vh; */
    padding: 0px!important;
    margin: 0px!important;
}

/* .black-box {
    background-color: black;
    height: 1300px;
    display: flex;
    flex-direction: column;
    align-items: center;

    padding-top: 50px;

} */
/* .white-box {
    background-color: white;
    height: 800px;
}

.splash-img-container {
    width: 85%;
    height: 740px;
    background-image: url('../src/images/splash-img4.jpg');
    background-size: cover;

    background-position-y: -70px;
    border-radius: 25px;
    opacity: 0.9;
    color: white;

    font-family: 'Rubik', sans-serif;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    font-size: 31px;


} */






/*
.explore-spots-link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 155px;
    height: 55px;
    padding: 10px;

    border-radius: 30px;
    color: white;
    font-weight: bold;
    line-height: 25px;
    font-size: 18px;
    background: linear-gradient(
        90deg, #5c0280 0%, #ff30b3 135%);
        -webkit-text-fill-color: transparent;
        -webkit-background-clip: text;
}

.spots-link-container {
    display: flex;
    width: 155px;
    height: 55px;


    background-color: white;
    border-radius: 30px;
    align-items: center;
    justify-content: center;
    transition: 0.1s;

}


.spots-link-container:hover {
    background-color: rgb(241, 241, 241);
}

.img-text-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 30px;

}
h2 {
    height: 35px;
}
.img2-container {
    display: flex;
    justify-content: center;
    background-color: rgb(241, 241, 241);
}

.splash-img-container2 {
    background: linear-gradient(
        180deg, #ffffff 0%, #dadada 135%);
    display: flex;
    justify-content: end;
    height: 740px;
    width: 85%;
    border-radius: 25px;

    margin-top: -385px;



}

.inner-img-container {
    background-image: url('./images/host.jpg');
    background-position: center;
    background-size: cover;
    width: 50%;
    height: 740px;
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;
}

.img-text-container2 {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}

.img-text-container2 h2 {
    font-size: 65px;

    font-family: 'Rubik', sans-serif;

}

.host-link-container {
    display: flex;
    width: 155px;
    height: 55px;


    background-color: black;
    border-radius: 30px;
    align-items: center;
    justify-content: center;
    transition: 0.1s;
}

.host-link-container:hover {
    background-color: rgb(46, 46, 46);
}

.host-link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 155px;
    height: 55px;
    padding: 10px;

    border-radius: 30px;
    color: white;
    font-weight: bold;
    line-height: 25px;
    font-size: 18px;
    text-decoration: none;
    font-family: 'Rubik', sans-serif;

} */

.combobox-container {
    width: 100%;
}

#downshift-1-menu li{
    padding-left: 10px;
    padding-top: 2px;
    padding-bottom: 2px;
    font-size: 16px;
}

#downshift-1-menu {
    border-radius: 6px;
    /* margin-left: 10px; */
    width: 371px!important;
    margin-top: -2px;
}
/* main {
    position: relative;
    min-height: 100vh;
} */

.main-page-container {
    position: relative;
    min-height: 100vh;
    padding: 0px!important;
    margin: 0px!important;
    display: flex;
    flex-direction: column;
}
