.black-box {
    background-color: black;
    height: 1300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* justify-content: center; */
    padding-top: 50px;

}
.white-box {
    background-color: white;
    height: 800px;
}

.splash-img-container {
    width: 85%;
    height: 740px;
    background-image: url('../../images/splash-img4.jpg');
    background-size: cover;
    margin-top: 30px;
    background-position: center;
    /* background-position-y: -70px; */
    border-radius: 25px;
    opacity: 0.9;
    color: white;
    /* font-family: 'Be Vietnam Pro', sans-serif; */
    font-family: 'Rubik', sans-serif;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    font-size: 31px;
    /* z-index: -1; */

}







.explore-spots-link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 155px;
    height: 55px;
    padding: 10px;
    /* text-align: center; */
    border-radius: 30px;
    color: white;
    font-weight: bold;
    line-height: 25px;
    font-size: 18px;
    background: linear-gradient(
        90deg, #5c0280 0%, #ff30b3 135%)!important;
        -webkit-text-fill-color: transparent!important;
        -webkit-background-clip: text!important;
}

.spots-link-container {
    display: flex;
    width: 155px;
    height: 55px;
    /* padding: 10px; */

    background-color: white;
    border-radius: 30px;
    align-items: center;
    justify-content: center;
    transition: 0.1s;
    /* text-align: center; */
}
/* .explore-spots-link span {
    width: 125px;
    height: 45px;
    border-radius: 15px;
    text-align: center;
} */

.spots-link-container:hover {
    background-color: rgb(241, 241, 241);
}

.img-text-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 30px;

}
h2 {
    height: 35px;
}
.img2-container {
    display: flex;
    justify-content: center;
    background-color: white;
    margin-bottom: 130px;
}

.splash-img-container2 {
    background: linear-gradient(
        180deg, #ffffff 0%, #dadada 135%);
    display: flex;
    justify-content: flex-end;
    height: 740px;
    width: 85%;
    border-radius: 25px;

    margin-top: -385px;

    /* display: flex;
    align-items: center; */

}

.inner-img-container {
    background-image: url('../../images/host.jpg');
    background-position: center;
    background-size: cover;
    width: 50%;
    height: 740px;
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;
}

.img-text-container2 {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}

.img-text-container2 h2 {
    font-size: 65px;

    font-family: 'Rubik', sans-serif;

}

.host-link-container {
    display: flex;
    width: 155px;
    height: 55px;
    /* padding: 10px; */

    background-color: black;
    border-radius: 30px;
    align-items: center;
    justify-content: center;
    transition: 0.1s;
}



/* .host-link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 155px;
    height: 55px;
    padding: 10px;

    border-radius: 30px;
    color: white;
    font-weight: bold;
    line-height: 25px;
    font-size: 18px;
    text-decoration: none;
    font-family: 'Rubik', sans-serif;
    cursor: pointer;
    background-color: black;
    border: none;

}
.host-link:hover {
    background-color: rgb(46, 46, 46);
} */
