
/* .all-listings-img {
    height: 230px;
    width: 230px;
}

.main-container {
    display: flex;
    justify-content: space-between;
}

.right-container {
    background-color: lightpink;
    width: 38%;
    height: 100vh;
    position: fixed;
    right: 0;
}
.left-container {
    width: 62%;
} */

.all-listings-img-container {
    /* display: inline-flex;
    width: max-content; */
    display: flex;
    width: 100%;
}

.all-listings-img {
    width: 100%;
    height: 200px;
}
.price {
    padding-left: 35px;
}

.all-listings-list-item span {
    font-family: arial, sans-serif;
    font-size: 14px;
    color: rgb(107, 107, 107);

}

.all-listings-data-container {
    display: inline-flex;
    justify-content: space-between;
    width: 20%;
}
.all-listings-list-item {
    width: 17%;
    display: inline-block;
    padding: 15px;
}

.all-listings-list-item a {
    text-decoration: underline;
    font-weight: bolder;
    /* padding: 0!important; */
    text-align: center;
}

.data {
    font-weight: bolder;
}

.view-listings-container {
    display: inline-flex;
    width: 20%;
    justify-content: center;
}

.all-listings-list {
    display: flex;
    /* flex-direction: column; */
    justify-content: flex-start;
    flex-wrap: wrap;
    width: 100%;
    margin-left: 105px!important;
}

/* .left-container {
    display: flex;
    justify-content: center;
} */
