.nav-list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
}
nav {
    padding: 0;
    margin: 0;
    background-color: black;

}

.logo-img {
    margin-left: 15px;
    height: 35px;
}

.logo-text {
    color: white;
    font-size: 20px;
    margin-left: 6px;
    font-family: 'Be Vietnam Pro', sans-serif;
    font-family: 'Rubik', sans-serif;
}


.logo-link {
    display: flex;
    align-items: center;
    text-decoration: none;
}
